<%= form_for @item, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :title, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :title, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :description, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :description, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :type_id, :class => 'control-label' %>
    <div class="controls">
      <% options = options_from_collection_for_select(@types, 'id', 'title') %>
      <%= f.select :type_id, options, :class => 'select_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :owner, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :owner, :class => 'text_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                items_path, :class => 'btn' %>
  </div>
<% end %>
