<!--Our search form page, displays results on the search page instead of the index or a new page.  Returns four params selected by the user-->
<div class="row">
    <div class="span3" style="border-bottom: 1px solid #ccc">
	 
<h1>SEARCH</h1>
<%= form_tag "search", method: "get", :class => "form-inline", :role => "form"  do %>

<div class="form-group" style="margin-bottom: 20px">
  <label>Type</label>
  <% options = options_from_collection_for_select(@types, 'id', 'title') %>
  <br><%= select_tag(:type, options, class: "form-control") %></br>
</div>
<div class="form-group" style="margin-bottom: 20px">
  <label>Title</label>
  <br><%= text_field_tag :title, "", class: "form-control" %></br>
</div>
<div class="form-group" style="margin-bottom: 20px">
  <label>Description</label>
  <br> <%= text_area_tag :description, "", size: "24x2", class: "form-control" %></br>
</div>
<div class="form-group" style="margin-bottom: 20px">
  <label>Owner</label>
  <br> <%= text_field_tag :owner, "", class: "form-control" %></br>
</div>
<div class="form-group" style="margin-bottom: 20px">
  <label>Match All?</label>
  <%= check_box_tag(:match_all) %>
</div>
<%= submit_tag("Search", class: "btn btn-default") %>
<% end %>

    </div>
    <%- model_class = Item -%>
    <div class="span8" style="padding-left:20px; border-left: 1px solid #ccc;">
      <table class="table table-striped">
	<h1>OUR SEARCH RESULTS </h1>
	<thead>
	  <tr>
	    <th><%= model_class.human_attribute_name(:title) %></th>
	    <th><%= model_class.human_attribute_name(:description) %></th>
	    <th><%= model_class.human_attribute_name(:type) %></th>
	    <th><%= model_class.human_attribute_name(:owner) %></th>
	    <th><%=t '.actions', :default => t("helpers.actions") %></th>
	  </tr>
	</thead>
	<tbody>
	  <% @items.each do |item| %>
	  <tr>
            <td><%= item.title %></td>
            <td><%= item.description %></td>
            <td><%= Type.find(item.type_id).title %></td>
            <td><%= item.owner %></td>
            <td>
              <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_item_path(item), :class => 'btn btn-mini' %>
              <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              item_path(item),
              :method => :delete,
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-mini btn-danger' %>
            </td>
	  </tr>
	  <% end %>
	</tbody>
      </table>
    </div>
</div>
